<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Security-App1-Basic-Digest</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Basic Security</web-resource-name>
			<url-pattern>/showbalance</url-pattern> <!-- we can place this tag for multiple time to secure multiple web components -->
			<http-method>GET</http-method> <!-- we can place this tag for multiple time to specify different request 
				modes -->
		</web-resource-collection>

		<auth-constraint>
			<role-name>MANAGER</role-name>
			<role-name>CLERK</role-name>
		</auth-constraint>
	</security-constraint>
	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>myrealm</realm-name> <!-- default realm in tomcat server -->
		<!-- In tomcat server we specify default relam -->
	</login-config>
	
	<!-- to show error pages by programmer choice -->
	<error-page>
		<error-code>403</error-code>
		<location>/403_error_.html</location>
	</error-page>
</web-app>